body {
  margin: 0px;
  font-family: Sitka Text, Berlin Sans FB;
  color: #333;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.pinimg.com/736x/9a/ab/65/9aab65b25a374e772841081c38d74d6a.jpg') no-repeat center center/cover; 
  color: white;
  text-align: center;
  position: relative;
  background-size: cover; 
}

.hero::before {
  display:none;
}

.hero-content {
  position: relative;
  z-index: 1; 
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 2rem; 
}
.hero-image {
  margin-top: 2rem; 
  width: 400px; 
  height: auto; 
  border-radius: 5%; 
  border: none; 
  position:center;
  box-shadow: none;
}

.content {
  text-align: justify;
  margin: 0 auto;
  max-width: 800px;
}

header {
  text-align: center;
  background-color: transparent;

}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #0C2136;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.content {
  padding: 2rem;
}

.content img {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}